# folders to ignore
.ipynb_checkpoints/
.vscode/settings.json
__pycache__/
saves/
terms-source-temporary/
# but include
!saves/hd-df-sampled-2024-01-05-14.p
!saves/hd-df-sampled-2024-01-08-18.p
!saves/mixed-terms-filtered-2024-01-03-15.p
!saves/mixed-terms-filtered-2024-01-05-12.p
# files to ignore
*.csv
*.txt
*.md.html
*.so
LDA-mixed-terms copy.ipynb
explore-HDP.ipynb
