# folders to ignore
.ipynb_checkpoints/
.vscode/settings.json
__pycache__/
build/
saves/
terms-source-temporary/
# but include
!saves/hd-df-sampled-2024-01-05-14.p
!saves/hd-df-sampled-2024-01-08-18.p
!saves/mixed-terms-filtered-2024-01-03-15.p
!saves/mixed-terms-filtered-2024-01-05-12.p
# files to ignore
*.c
*.csv
*.txt
*.md.html
*.so
# ignore .ipynb
*.ipynb
!LDA-mixed-terms-base.ipynb
!LDA-mixed-terms-validator.ipynb
!explore-HDP.ipynb
# ignore .py
*.py
!cy_gen_ngrams.py
!gen_ngrams.py
!setup.py
